<div style="border:1px solid">
	<p>Packing Slip<p>
	<p>Customer name: <%= @payment.customer_name%></p>
	<p>Customer address: <%= @payment.customer_address%></p>
	<p>Customer email: <%= @payment.customer_email%></p>
</div>
<div style="border:1px solid">
	<p>Packing Slip (duplicate for the Royalty Department)<p>
	<p>Customer name: <%= @payment.customer_name%></p>
	<p>Customer address: <%= @payment.customer_address%></p>
	<p>Customer email: <%= @payment.customer_email%></p>
</div>
