<p>Customer name: <%= @payment.customer_name%></p>
<p>Customer address: <%= @payment.customer_address%></p>
<p>Customer email: <%= @payment.customer_email%></p>
<p>Date Created: <%= @payment.created_at.strftime("%A, %B %d, %Y at %I:%M:%S %p")%></p>
<p>Date Processed: <%= @payment.updated_at.strftime("%A, %B %d, %Y at %I:%M:%S %p")%></p>

